* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.feedback-form {
  max-width: 408px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 24px;
  border-radius: 8px;

  background-color: #fff;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  margin-top: 8px;
  resize: none;

  border-radius: 4px;
  border: 1px solid #808080;
}

.feedback-form label {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.64px;

  margin-bottom: 8px;
}
.feedback-form textarea {
  padding: 10px;
  display: block;
  height: 80px;
}

.feedback-form label input,
.feedback-form label textarea {
  font-size: inherit;
  font-family: inherit;
}

.feedback-form label input:hover,
.feedback-form label textarea:hover {
  border: 1px solid #000;
}

.feedback-form label input:focus-within,
.feedback-form label textarea:focus-within {
  border: 1px solid #808080;
  outline: none;
}

/* Стилі для останнього label */
.feedback-form label:last-of-type {
  margin-bottom: 16px;
}

.feedback-form button {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;

  border-radius: 8px;
  background: #4e75ff;

  padding: 8px 16px;

  border: none;
  outline: none;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
